In [1]:
import pandas as pd

## 데이터 불러오기

In [2]:
train =pd.read_csv("train.csv", encoding="cp949")

### train 개수 알아보기

In [3]:
train.count()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

### 각 컬럼별 데이터 확인

 ####  승객 중 성별 인원수, 선실별 인원수, 사망/ 생존별 인원수 , 나이별 인원수 구하기

In [4]:
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [5]:
# 성별  인원수 구하기
train['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [6]:
#선실별 인원수
train['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [7]:
train['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [8]:
train['Age'].value_counts(ascending= False)

24.00    30
22.00    27
18.00    26
19.00    25
28.00    25
         ..
36.50     1
55.50     1
0.92      1
23.50     1
74.00     1
Name: Age, Length: 88, dtype: int64

In [9]:
ages = train['Age']
bins =[0, 20, 40, 60, 80] # 구간
labels = ['미성년','청년', '중년', '노년'] # 구간의 이름
category_ages = pd.cut(ages, bins, labels= labels) # 외울 필요는 없을듯함

In [10]:
train['AgeClass'] = category_ages

In [11]:
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,AgeClass
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,청년
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,청년
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,청년
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,청년
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,청년
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,청년
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,미성년
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,NaN
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,청년
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,청년

In [12]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'AgeClass'],
      dtype='object')

In [13]:
train = train[['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'AgeClass','SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']] 
# 마지막행에 추가되니까 위치 바꿔주기

##### 타이타닉호 승객을 사망자와 생존자로 나누고 각 그룹에 대한 나이대별 비율 구하기

In [14]:
#생존자만 있는 데이터 프레임
alived = train[train['Survived']==1]
#사망자만 있는 데이터 프레임
died =train[train['Survived']==0]

In [15]:
#생존자
alived['AgeClass'].value_counts() / alived['AgeClass'].count()

청년     0.527586
미성년    0.282759
중년     0.172414
노년     0.017241
Name: AgeClass, dtype: float64

In [16]:
#사망자
died['AgeClass'].value_counts() / died['AgeClass'].count()

청년     0.547170
미성년    0.228774
중년     0.183962
노년     0.040094
Name: AgeClass, dtype: float64

In [17]:
alived['Pclass'].value_counts() /alived['Pclass'].count()

1    0.397661
3    0.347953
2    0.254386
Name: Pclass, dtype: float64

In [18]:
died['Pclass'].value_counts() /died['Pclass'].count()

3    0.677596
2    0.176685
1    0.145719
Name: Pclass, dtype: float64