## 문제정의
 * 훈련데이터와 테스트 데이터 이해하기
 
 * 머신러닝의 일련의 과정 이해하기
 
 * AND연산의 결과를 도출하는 머신러닝 모델 학습하기

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## 데이터 준비
* and연산 데이터 생성하기

In [2]:
df = pd.DataFrame({'A': [0, 0,1,1,1,0,1,0] , 'B' : [0, 1, 0,1,0,0,1,1], 'A and B' : [0, 0, 0,1,0,0,1,0]})

In [3]:
df

   A  B  A and B
0  0  0        0
1  0  1        0
2  1  0        0
3  1  1        1
4  1  0        0
5  0  0        0
6  1  1        1
7  0  1        0

In [32]:
#X 문제(A, B컬럼 ) Y 답: (A and B) 컬럼
# numpy > 2차원 배열 [행] , 배열[행][열] , 배열 [행, 열]
# 판다스 > df.loc[행, 열], df.iloc[행,열]

x = df.iloc[:,:2]

In [33]:
# X =
df.loc[:,['A','B']]  #리스트로 접근 하나하나
df.loc[:,'A':'B'] #끝 값 포함
df.iloc[:,:2] # 끝 값 포함X
df[['A','B']] # 컬럼 인덱싱(슬라이싱 설정)

   A  B
0  0  0
1  0  1
2  1  0
3  1  1
4  1  0
5  0  0
6  1  1
7  0  1

In [34]:
y = df['A and B']
y

0    0
1    0
2    0
3    1
4    0
5    0
6    1
7    0
Name: A and B, dtype: int64

In [37]:
print('문제 크기:' ,x.shape)
print('답의 크기:' ,y.shape)

문제 크기: (8, 2)
답의 크기: (8,)

## 훈련용, 테스트용 분리

In [38]:
# 훈련용(학습과정), 테스트용(평가 및 예측 과정 ) 분리
# X- 훈련용(행 접근), X- 테스트용(행 ,접근)
x

   A  B
0  0  0
1  0  1
2  1  0
3  1  1
4  1  0
5  0  0
6  1  1
7  0  1

In [46]:
X_train = x.iloc[:6]
X_test= x.iloc[6:]

In [47]:
Y_train = y.iloc[:6]
Y_test = y.iloc[6:]

In [48]:
print("X_train의 크기 :", X_train.shape)
print("Y_train의 크기: ", Y_train.shape)
print("X_test의 크기: ", X_test.shape)
print("Y_test의 크기: ", Y_test.shape)

X_train의 크기 : (6, 2)
Y_train의 크기:  (6,)
X_test의 크기:  (2, 2)
Y_test의 크기:  (2,)